
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.auth-box {
  background-color: white;
  padding: 30px;
  width: 300px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.auth-button {
  padding: 12px 0;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s;
}

.auth-box input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-box button {
  padding: 10px 15px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.auth-box button:hover {
  background-color: #004d40;
}

.auth-box p {
  margin-top: 15px;
  font-size: 14px;
  color: #888;
}
